---
layout: default
title: Kathryn and Alex
---

<div class="i fadeIn" id="fade">
	<div class="sideline"></div>

	<div id="feature">
		{% include feature.html %}
	</div>
	<div id="content">
		<!-- {% include our_story.html %} -->
		{% for gallery in site.data.galleries %}
			{% if gallery.id == "couple" %}
				{% assign gallery = gallery %}
					{% include photos.html %}
				{% endif %}
			{% endfor %}

		{% include info.html %}
		{% include instagram.html %}
		{% include footer.html %}
	</div>
</div>