---
layout: default
title: Kathryn and Alex
---

<div class="i fadeIn" id="fade">
	<div class="sideline"></div>

	<div id="feature">
		{% include feature.html %}

		<div id="content">
			{% include our_story.html %}
			{% include photos.html %}
			{% include party.html %}
			{% include info.html %}
			{% include instagram.html %}
			{% include footer.html %}
		</div>
	</div>
	<script src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
	<script src="/javascript/plugins.js" type="text/javascript"></script>
	<script src="/javascript/main.js" type="text/javascript"></script>

	<div id="sb-container">
		<div id="sb-overlay"></div>

		<div id="sb-wrapper">
			<div id="sb-title">
				<div id="sb-title-inner"></div>
			</div>

			<div id="sb-wrapper-inner">
				<div id="sb-body">
					<div id="sb-body-inner"></div>

					<div id="sb-loading">
						<div id="sb-loading-inner">
							<span>loading</span>
						</div>
					</div>
				</div>
			</div>

			<div id="sb-info">
				<div id="sb-info-inner">
					<div id="sb-counter"></div>

					<div id="sb-nav">
						<a id="sb-nav-close" onclick="Shadowbox.close()" title="Close"></a><a id="sb-nav-next" onclick="Shadowbox.next()" title=
						"Next"></a><a id="sb-nav-play" onclick="Shadowbox.play()" title="Play"></a><a id="sb-nav-pause" onclick="Shadowbox.pause()" title=
						"Pause"></a><a id="sb-nav-previous" onclick="Shadowbox.previous()" title="Previous"></a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>