<section id="info">
	<div class="container">
		<h2>information</h2>

		<p class="map_description">We will be celebrating at The Minneapolis Club on September 6, 2014.</p>

		<div id="map_canvas"></div>

		<div class="info">
			<ul>
				<li>
					<div class="widget-wrapper widget_text" id="text-2">
						<span>Ceremony / Reception</span>

						<div class="textwidget">
							<p>
								Both our wedding ceremony and the the proceeding celebration will take place at The Minneapolis Club. The ceremony will start at 4:30pm. There is free overnight parking in the Minneapolis Club's ramp. You can pick up your car anytime through Sunday evening (even if you don't stay at the club).
							</p>
						</div>
					</div>
				</li>

				<li>
					<div class="widget-wrapper widget_text" id="text-3">
						<span>Accommodations</span>

						<div class="textwidget">
							<p>We've reserved blocks of rooms at the <a target="_blank" href="http://www.wminneapolishotel.com/">W Hotel</a> and the <a target="_blank" href="https://secure3.hilton.com/en_US/hi/reservation/book.htm?execution=e1s1">Hilton</a>. The W Hotel cannot be booked online with our reserved block. You'll have to call <a href="tel:612-215-3700">(612) 215-3700</a> and reference the Scharton/Delegard block. The Hilton can be booked online with our block. On that reservation page enter the Group Code of "sdw".</p>
							<p>During your down time, we encourage you to explore Minneapolis and enjoy all that the city has to offer in September. A few of our favorite spots are: Blackbird, the Lock and Dam, Indeed Brewery, and Sociable Ciderwerks.</p>
						</div>
					</div>
				</li>

				<li>
					<div class="widget-wrapper widget_text" id="text-4">
						<span>Registry</span>

						<div class="textwidget">
							<p>The precense of family and friends at our wedding is the best gift we could ask for. However, if your intention is a gift, we would be grateful for contributions to our honeymoon fund. We are also registered at <a target="_blank" href="http://www.crateandbarrel.com/Gift-Registry/Kathryn-Scharton-and-Alex-Delegard/r5198873">Crate and Barrel</a>, <a target="_blank" href="https://secure.williams-sonoma.com/registry/vsxsj7l9md/registry-list.html">William Sonoma</a>, and <a target="_blank" href="http://www.amazon.com/gp/registry/wedding/11D4AVDSEO0GG">Amazon</a>.</p>
						</div>
					</div>
				</li>
			</ul>
		</div>
	</div>
</section>