<section id="info">
	<div class="container">
		<h2>information</h2>

		<p class="map_description">We will be celebrating at St. Bartholemew Church on March 3, 2012.</p>

		<div id="map_canvas"></div>

		<div class="info">
			<ul>
				<li>
					<div class="widget-wrapper widget_text" id="text-2">
						<span>Ceremony / Reception</span>

						<div class="textwidget">
							<p>
								Our wedding celebration will take place at St. John's Catholic Church (1229 Vermont St, Lawrence, KS 66044). There is parking east of the church and a secondary lot directly across the street.
							</p>
							<p>
								Following the wedding ceremony, we would love for you to join us for dinner and dancing at 6 o'clock at Pachamama's Alton Ballroom. There is free parking next to Pachamama's and across the street in both directions.
							</p>
						</div>
					</div>
				</li>

				<li>
					<div class="widget-wrapper widget_text" id="text-3">
						<span>Accommodations</span>

						<div class="textwidget">
							<p>We've reserved rooms at Spring Hill Suites, in the heart of downtown Lawrence, and at The Oread which sits at the end of campus, overlooking the stadium. We think you'll be very happy at either, and both are within a few blocks of the ceremony and reception.</p>
							<p>During your down time, we encourage you to explore Massachusetts St. and enjoy all that Lawrence has to offer in March — most importantly a unique and spirited viewing experience of the Big 12 Basketball Tournament! A few of our favorite spots are: Jefferson's, The Bird Dog, and Free State Brewery.</p>
						</div>
					</div>
				</li>

				<li>
					<div class="widget-wrapper widget_text" id="text-4">
						<span>Registry</span>

						<div class="textwidget">
							<p>We'll be moving quite a bit in the next few years and would like to lovingly ask for gift cards to Sam's Club — this will keep us well fed and well fueled. Instead of carrying your gifts with us, we'd much rather carry the memories we'll create with you on our special day!</p>
						</div>
					</div>
				</li>
			</ul>
		</div>
	</div>
</section>