<div class="peek" id="dropdown">
    <nav>
        <div class="container">
            <ul class="clearfix">
                <li><a class="story" href="#story">our story</a></li>
                <li><a class="photos" href="#photos">photos</a></li>
                <li><a class="party" href="#party">wedding party</a></li>
                <li><a class="info" href="#info">information</a></li>
                <li><a class="instagram" href="#instagram">instagram</a></li>
                <li style="list-style: none">
					<a class="nav_hash" href="#">#kathrynandalex</a>
				</li>
            </ul>
        </div>
    </nav>
</div>